 <table>
   <tr>
     <td class="main">
      <table mat-table [dataSource]="reservations" class="mat-elevation-z1">

        <ng-container matColumnDef="orderTime">
          <th mat-header-cell *matHeaderCellDef> Rendelés ideje </th>
          <td mat-cell *matCellDef="let reservation"> {{ reservation.orderTime.toLocaleString()  | date:'yyyy. hh. dd. hh:mm'}} </td>
        </ng-container>

        <ng-container matColumnDef="message">
          <th mat-header-cell *matHeaderCellDef> Üzenet </th>
          <td mat-cell *matCellDef="let reservation"> {{ reservation.message }} </td>
        </ng-container>

        <ng-container matColumnDef="button">
          <th mat-header-cell *matHeaderCellDef> Termékek </th>
          <td mat-cell *matCellDef="let reservation"> <button mat-button type="submit" (click)="onClick( reservation.id )">Termékek listázása</button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="leftDisplayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: leftDisplayColumns;"></tr>
      </table>
     </td>
     <td class="main">
      <table mat-table [dataSource]="pieces" class="mat-elevation-z1">
  
        <ng-container matColumnDef="pic">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let pieces"> <img src="{{ pieces.product.url}}"> </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Termék neve </th>
            <td mat-cell *matCellDef="let pieces"> {{ pieces.product.name }} </td>
          </ng-container>

        <ng-container matColumnDef="piece">
          <th mat-header-cell *matHeaderCellDef> Darab </th>
          <td mat-cell *matCellDef="let pieces"> {{ pieces.piece }} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Termék ára </th>
          <td mat-cell *matCellDef="let pieces"> {{ pieces.product.price }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="rightDisplayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: rightDisplayColumns;"></tr>
      </table>
    </td>
   </tr>
 </table>