 <div align="center" class="filter">
    <form [formGroup]="categoryForm">
      <span style="padding-right:10px">Szűrő: </span>
      <mat-form-field>
          <mat-select (selectionChange)="filter($event)" [(value)]="selected" placeholder="Kategória" matNativeControl>
            <mat-option value="0" selected="true">Összes</mat-option>
            <mat-option *ngFor="let category of categories"  value="{{category.id}}">{{ category.name }}</mat-option>
          </mat-select>
      </mat-form-field>
    </form>
 </div>
 <mat-grid-list cols="3" rowHeight="380">
    <mat-grid-tile *ngFor="let product of _products">
      <mat-card>
        <mat-card-header>
          <mat-card-title align="center">
            {{ product.name }}
          </mat-card-title>
          <mat-card-subtitle>
            <b>Ár: {{ product.price }}</b>
          </mat-card-subtitle>
        </mat-card-header>
        <img src="{{ product.url }}">
        <mat-card-content>{{ product.description }}</mat-card-content>
        <mat-card-actions align="right">
            <button mat-flat-button (click)="addToCart( product.id )" type="submit" disabled="{{ product.outOfOrder }}">
              Kosárba
            </button>
          </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
