<div class="registration-container">
  <h4>Regisztráció</h4>
  <mat-form-field>
    <input matInput type="text" placeholder="Név">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="email" placeholder="E-mail cím">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Jelszó">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" value="+36" placeholder="Telefonszám">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" maxlength="4" placeholder="Irányítószám">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Település">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Közterület neve és jellege">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Házszám">
  </mat-form-field>
  <button mat-button>Regisztráció</button>
</div>